<?xml version="1.0"?>
<robot name="myfirst">

  <material name="blue">
    <color rgba="0 0 0.8 0.5"/>
  </material>

  <link name="drone">
    <visual>
      <origin rpy="0 0 -1.570796" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://spherical-radar-drone/mesh/drone_radar_dome_fine.stl"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
</robot>
